<!doctype html>
<html lang="en-US">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- OUTER SCRIPT -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/9746709e58.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.5/dist/sweetalert2.all.min.js"
    integrity="sha256-rFie6glbD6Zy9CLbJuxIEyU/VRe34QOSc1QH4eXrDQk=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <!-- END OUTER SCRIPT -->
  <!-- OUTER CSS -->
  <link rel="stylesheet" href="@sweetalert2/theme-borderless/borderless.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
  <!-- END OUTER CSS -->
  <!-- MY CSS -->
  <link rel="stylesheet" href="/payment.css">
  <link rel="stylesheet" href="/header.css">
  <!-- END MY CSS -->
  <title>Terms and Conditions | <%= bot.user.username %></title>
  <link rel="icon" type="image/png" href="<%= bot.user.displayAvatarURL({size: 128}) %>">
</head>

<body>
  <section>
    <div class="container mt-5" style="max-width: 900px;">
      <div class="row mt-5 justify-content-center bg-dark">
        <div class="col-md-12 d-flex p-4">
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0 img">
              <img src="<%= bot.user.displayAvatarURL({ dynamic: true}) %>" alt="logo">
            </div>
          </div>
          <div class="d-flex align-items-start justify-content-center flex-column bd-highlight" style="height: 150px;">
            <h1><%= bot.user.username %></h1>
            <h5>Terms and Conditions</h5>
          </div>
          <div class="d-flex justify-content-md-end ms-auto p-2 flex-column bd-highlight" style="height: 150px;">
           
          </div>
        </div>
        <div class="row">
          <div class="col-md d-block pb-4" translate="yes">
            <div class="text-box" style="max-height: 550px; overflow:auto; padding: 10px;">
              <h4 id="scrollspyHeading1"># About</h4>
              <p>Im Adam Khairusydan as the developer of Bad Vibes are very grateful to those of you who use Discord's bots. Bad Vibes is a Discord bot that was intentionally created to help maintain servers Your Discord, and also able to entertain all members on your server with music or Other things. With this feature, I deliberately provide some special features for you guys who helped donate me to develop this Bot. </p>
              <p>You need to know, we are using the Service, you are expressing your agreement to this Policy and the processing data your server information, in the manner provided in this Policy. If you do not agree to these terms, please do not use the Service. If you wish to get your data removed from our servers, please contact us via support server or Dev@bvbot.xyz</p>
              <h4 id="scrollspyHeading2"># Special Features</h4>
              <p> For those of you who are interested in helping to develop this bot by donating, we provide several special features. that is
              <ul>
                <li>24/7 Stay Voice Channel</li>
                <li>All Button Active</li>
                <li>Audio Filter</li>
                <li>Audio Equalizer</li>
                <li>Auto Play Songs</li>
                <li>Lyrics</li>
                <li>Save and Play Queue</li>
              </ul>
              </p>
              <h4 id="scrollspyHeading2"># Payment</h4>
              <p>The payment method used by Bad Vibes is DANA for payments via IDR, and Patreon for payment in USD</p>
              <h4 id="scrollspyHeading2"># Premium Terms</h4>
              <p>For those of you who donate, please re-verify to claim Premium Features. please you guys verify in <a href="https://discord.gg/BuACxn4XUw" class="text-info" target="_blank">Support
                  Server</a> and then
                <% let guildSupport = bot.guilds.cache.get("625018767180693504") %>
                <% let channelPayment = guildSupport.channels.cache.get("942850826492338256") %>
                <% let owner = bot.users.cache.get("863031982018920488")%>
                select channel <a href="https://discord.com/channels/625018767180693504/942850826492338256"
                  target="_blank" class="text-info" rel="noopener noreferrer"> #<%= channelPayment.name %> </a> there
                You can directly upload your proof of payment. Or you can directly private chat me <span
                  class="text-info"><%= owner.tag%></span> to send proof of payment.
              </p>
              <p>If you have sent proof of payment, we will try as soon as possible to open Premium Guild access
                to your guild. You will get a private message from Bad Vibes if your guild is Premium.</p>
              <p>You need to know, payments that have been entered cannot be refunded.</p>
            </div>
          </div>
          <hr>
          <div class="row mb-3 justify-content-center">
            <div class="col-md">
              <div class="d-flex justify-content-start bd-highlight">
                <button class="btn" onclick="location.href='/'" title="Home"><i
                    class="fas fa-angle-double-left fa-2x"></i></button>
                <div class="col-md">
                  <div class="d-flex justify-content-end bd-highlight">
                    <button class="btn align-items-end" title="Invite"
                      onclick="window.open('https://discord.com/api/oauth2/authorize?client_id=<%= bot.user.id%>&permissions=8&redirect_uri=<%= callback%>&response_type=code&scope=identify%20email%20guilds%20bot%20applications.commands', '_blank,')"><img
                        src="https://cdn.discordapp.com/attachments/784917578974756904/938445237502763079/New_BV_png.png"
                        alt="LN_Logo" width="45px"></button>
                    <button class="btn align-items-end" title="Adam Khairusydan"
                      onclick="window.open('https://www.facebook.com/adamkhai0/', '_blank,')"><img
                        src="<%= owner.displayAvatarURL()%>" alt="LN_Logo" width="40px"></button>
                    <button class="btn align-items-end" title="Support Server"
                      onclick="window.open('https://discord.gg/wrTHfMqzaQ', '_blank,')"><i
                        class="fab fa-discord fa-2x"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
<style>
  button {
    transition: all 0.2;

  }

  button:hover {
    transform: scale(105%);
  }
</style>

</html>
